USE [master]
GO
/****** Object:  Database [DbTest]    Script Date: 9/14/2022 11:20:49 AM ******/
CREATE DATABASE [DbTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbTest]
GO
USE [DbTest]
GO
/****** Object:  Table [dbo].[tblGender]    Script Date: 9/14/2022 11:20:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGender](
	[ID] [int] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblGender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPerson]    Script Date: 9/14/2022 11:20:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPerson](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[GenderId] [int] NULL,
 CONSTRAINT [PK_tblPerson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblGender] ([ID], [Gender]) VALUES (1, N'Male')
INSERT [dbo].[tblGender] ([ID], [Gender]) VALUES (2, N'Female')
INSERT [dbo].[tblGender] ([ID], [Gender]) VALUES (3, N'Unknow')
GO
INSERT [dbo].[tblPerson] ([Id], [Name], [Email], [GenderId]) VALUES (1, N'Jade', N'j@j.com', 2)
INSERT [dbo].[tblPerson] ([Id], [Name], [Email], [GenderId]) VALUES (2, N'Mary', N'm@m.com', 3)
INSERT [dbo].[tblPerson] ([Id], [Name], [Email], [GenderId]) VALUES (3, N'Martin', N'ma@ma.om', 1)
GO
ALTER TABLE [dbo].[tblPerson]  WITH CHECK ADD  CONSTRAINT [tblPerson_GenderId_FK] FOREIGN KEY([GenderId])
REFERENCES [dbo].[tblGender] ([ID])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblPerson] CHECK CONSTRAINT [tblPerson_GenderId_FK]
GO
USE [master]
GO
